streamlit
pandas
numpy
matplotlib
plotly
groq
python-dotenv
faiss-cpu
sentence-transformers
torch
transformers
easyocr
opencv-python-headless
Pillow
deep-translator
scikit-learn
nltk
